<div class="row m-0 pt-5 px-3 dashboard">
    <div class="col-2 px-0">
        <div class="border border-end-0 border-bottom-0 bg-white h-50">
            <mat-calendar [(selected)]="selected" #calendar (selectedChange)="calendarChange(calendar)"></mat-calendar>
        </div>
        <div class="border border-end-0 bg-white p-3 h-50">
            <h4 class="text-secondary">NEXT VIEWING</h4>
            <div class="image">
                <img src="" alt="image">
            </div>
            <div class="mt-3">
                <p class="mb-0 fw-bold">Great apartman in east Berlin</p>
                <p class="mb-0 text-secondary">Road 17, 10785 Berlin, Germany</p>
            </div>
            <div class="row text-secondary mt-3">
                <span class="col-7 d-flex align-items-center my-1">
                    <mat-icon>calendar_today</mat-icon> 10 OCTOBER 2017
                </span>
                <span class="col-5 d-flex align-items-center my-1">
                    <mat-icon>access_time</mat-icon>14:00
                </span>
                <span class="col-6 d-flex align-items-center my-1">
                    <mat-icon>person_outline</mat-icon>6 | 8
                </span>
            </div>
        </div>
    </div>

    <div class="col-10 h-100 px-0">

        <div class="d-flex justify-content-between align-items-center p-2 border border-bottom-0 bg-white">
            <h3 class="m-0">{{ getDaysInWeek(0) <= 0 ? getLastDayInMonth(1) + getDaysInWeek(0) : getDaysInWeek(0) }} -
                    {{ getLastDayInMonth(0) < getDaysInWeek(6) ? getDaysInWeek(6) - getLastDayInMonth(0) :
                    getDaysInWeek(6) }} {{utils.getMonthsData()[selected.getMonth()].name}}
                    {{selected.getFullYear()}}</h3>
                    <div class="d-flex align-items-center">
                        <button mat-icon-button (click)="changeWeek('prev')">
                            <mat-icon mat-icon-button>keyboard_arrow_left</mat-icon>
                        </button>
                        <button mat-icon-button (click)="changeWeek('next')">
                            <mat-icon mat-icon-button>keyboard_arrow_right</mat-icon>
                        </button>
                    </div>
        </div>

        <div class="table mb-0">
            <table class="table table-bordered bg-white mb-0">
                <thead>
                    <tr class="text-center text-secondary">
                        <th scope="col" class="border-0"></th>
                        <th scope="col" *ngFor="let week of utils.getWeekData(); let i = index">{{getDaysInWeek(i) <= 0
                                ? getLastDayInMonth(1) + getDaysInWeek(i) : getLastDayInMonth(0) < getDaysInWeek(i) ?
                                getDaysInWeek(i) - getLastDayInMonth(0) : getDaysInWeek(i) }}
                                {{week.name.substring(0,3).toLocaleUpperCase()}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hour of time">
                        <th scope="row">{{hour.toString().length == 1 ? '0'+ hour : hour}}:00</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>