.dashboard {
    .image {
        img {
            width: 100%;
            max-height: 10rem;
        }
    }

    .table {
        height: 85vh;
        overflow-y: scroll;
        border-bottom: 1px solid #dee2e6;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    table {
        .t-item {
            .head-item {
                height: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .hour-item {
                background-color: unset !important;
            }

            .item {
                height: 10rem;
                border-right: 1px solid #dee2e6;
                border-top: 1px solid #dee2e6;
            }
        }
    }
}