.dashboard {
    .image {
        img {
            width: 100%;
            max-height: 10rem;
        }
    }

    .table {
        height: 85vh;
        overflow-y: scroll;
        border-bottom: 1px solid #dee2e6;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    table {
        .t-item{
            
                    // height: 10rem;    

                    .head-item{
                        height: 2.5rem;
                        display: flex;
                        align-items: center;
                    }
                    .hour-item{
                       background-color: unset !important;
                    }

                    .item{
                        height: 10rem;
                        border-right: 1px solid #dee2e6;
                        border-top: 1px solid #dee2e6;
                    }
        }

        // thead {
        //     border-right: 1px solid #dee2e6;
        //     border-left: 1px solid #dee2e6;

        //     th {
        //         border: unset;
        //         width: auto;
        //     }
        // }

        // tbody {
        //     td {
        //         border: 1px solid #dee2e6;
        //         width: 13rem;
        //         height: 10rem;

        //     }

        // }


    }
}