<div class="h-100">
    <div class="d-flex justify-content-between align-items-center border p-2 bg-white">

        <h3 class="m-0">{{ showDayOfWeek(0) }} - {{ getLastDayInMonth(0) < generateDayInWeek(6) ? generateDayInWeek(6) -
                getLastDayInMonth(0) : generateDayInWeek(6) }} {{ utils.getMonthsData()[selected.getMonth()].name }} {{
                selected.getFullYear() }} </h3>

                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-light mx-3" (click)="returnToToday()" *ngIf="selected.getDate() !== todaysDay.getDate() || todaysDay.getMonth() !== selected.getMonth() ||
                    todaysDay.getFullYear() !== selected.getFullYear()">Today</button>

                    <button mat-icon-button (click)="changeWeek('prev')">
                        <mat-icon mat-icon-button>keyboard_arrow_left</mat-icon>
                    </button>
                    <button mat-icon-button (click)="changeWeek('next')">
                        <mat-icon mat-icon-button>keyboard_arrow_right</mat-icon>
                    </button>

                </div>
    </div>

    <div class="table mb-0">
        <table class="table d-flex bg-white mb-0">

            <div class="t-item" [style.width]="!week.id ? '6rem' : '14rem'"
                *ngFor="let week of utils.getWeekData(); let i = index">
                <div class="p-0" *ngFor="let hour of time">

                    <!-- Header -->
                    <div class="head-item" *ngIf="!week.id && hour.toString() == 'false'"></div>
                    <div class="head-item" *ngIf="week.id && hour.toString() == 'false'">
                        <span class="p-2" [class]="todaysDay.getDate() == showDayOfWeek(i - 1) &&
                                    todaysDay.getMonth() == selected.getMonth() &&
                                    todaysDay.getFullYear() == selected.getFullYear() ? 'badge bg-primary': ''">
                            {{ showDayOfWeek(i - 1) }}
                            {{ week.name.substring(0, 3).toLocaleUpperCase() }}
                        </span>
                    </div>

                    <!-- Hour side -->
                    <div class="hour-item item" *ngIf="!week.id && hour.toString() != 'false'">
                        {{ utils.generateTime(+hour, 1) }}

                        <!-- Hour tracker -->
                        <div class="time-tracker badge bg-primary p-2"
                            [style]="'top:' + todaysDay.getMinutes() * (100 / 60) + '%'" *ngIf="!week.id &&
                              hour.toString() != 'false' && todaysDay.getHours() == hour">
                            {{ utils.generateTime(todaysDay.getHours(), 1,todaysDay.getMinutes()) }}
                        </div>
                    </div>

                    <!-- Item -->
                    <div class="item p-0" *ngIf="week.id && hour.toString() != 'false'">
                        <div class="p-0" [class]="checkAppointments(appointment, 'week', hour, week, i) ? 'h-100' : ''"
                            *ngFor="let appointment of appointments">
                            <div class="h-100 p-2 fw-bold" [class]="todaysDay.getDate() > utils.getDateObj(appointment.date).getDate() || todaysDay.getMonth() >
                                utils.getDateObj(appointment.date).getMonth() ? 'bg-light' : 'bg-dark text-light'"
                                role="button" *ngIf="checkAppointments(appointment, 'week', hour, week, i)"
                                (click)="showAppointmentModal(appointments, appointment.id, hour, week)">
                                <span>{{ appointment.property.attachments.length }}
                                    {{ appointment.property.attachments.length !== 1? "VIEWINGS": "VIEWING"
                                    }}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </table>
    </div>
</div>